.card{
    max-width: 20rem;
    color: white;
    background-color: #583777;
    padding: 0.8rem;
    border-radius: 0.6rem;
}

.card-img{
    height: 15rem;
    border-radius: 0.2rem;
    background-color: aquamarine;
}
